.page {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 200vh;
    background: #030101;
}

.page2 {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 120vh;
    padding-bottom: 150px;
    background: #030101;
    z-index: 2;
}

.page3 {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 100vh;
    padding-bottom: 100px;
    background: #030101;
}

.page4 {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 168vh;
    padding-bottom: 100px;
    background: #030101;
}

/* page5: let height grow with content */
.page5 {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 120vh;
    background: #030101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page6 {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 100vh;
    padding-bottom: 100px;
    background: #030101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page7 {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 100vh;
    background: #030101;
}
#m {
    position: relative;
    top: 160px;
    margin: 0% 50%;
    z-index: 11;
}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
    position: relative;
}

.img-box {
    width: 1200px;
    height: 560px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
        0 -20px 70px rgba(140, 69, 255, 0.25),
        0 -19px 70px rgba(140, 69, 255, 0.40);
    background: linear-gradient(90deg,
            #0D0718 0%,
            #0F081B 48%,
            #0B0614 100%);
    border-radius: 8px;
    position: relative;
    z-index: 10;
}

.img {
    width: 98%;
    height: auto;
    border-radius: 8px;
}

.blur-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.blur {
    position: absolute;
    width: 569px;
    height: 569px;
    border-radius: 50%;
    background: #622A9A;
    filter: blur(224px);
    z-index: 2;
}

.blur2 {
    position: absolute;
    width: 825px;
    height: 825px;
    border-radius: 50%;
    background: #602A9A;
    filter: blur(534px);
    z-index: 1;
}

.hero-text {
    position: relative;
    top: 100px;
    max-width: 660px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
    z-index: 11;
    cursor: default;
}

.hero-text h1 {
    margin: 0;
    background: linear-gradient(180deg,
            #FFFFFF 55%,
            #B372CF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Inter";
    font-size: 82px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
}

.hero-text p {
    margin: 0;
    color: white;
    text-align: center;
    font-family: "Inter";
    font-weight: 300;
    font-size: 24px;
}

.hero-text button {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background: #FFFFFF;
    color: #000000;
    font-size: 15px;
    font-family: "Inter";
    font-weight: 400;
    text-align: center;
    line-height: 1;
    cursor: pointer;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.black-fade {
    position: absolute;
    margin-top: -700px;
    left: 0;
    width: 100%;
    height: 708px;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            #050208 100%);
    z-index: 18;
}

.companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

.p1 {
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 100px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    cursor: default;
}

.bento-grid-custom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
}

.bento-header {
    color: white;
    font-family: "Inter";
    font-weight: 500;
    font-size: 32px;
    cursor: default;
    text-align: center;
    max-width: 553px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 160px;
}

.bento-container {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 50px;
}

.bento-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bento-box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seo {
    width: 346px;
    height: 400px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.seo img {
    margin-top: 20px;
    padding-left: 41px;
}

.seo-text {
    text-align: start;
    padding-left: 40px;
    margin-top: 50px;
}

.seo-text h5 {
    color: white;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    cursor: default;
    margin: 0;
}

.seo-text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    cursor: default;
    max-width: 259px;
    margin-top: 8px;
    margin-bottom: 0;
}

.user-friendly {
    width: 744px;
    height: 400px;
    background: linear-gradient(to bottom, #000000 0%, #371866 100%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.user-friendly img {
    position: relative;
    top: 46px;
    left: 55px;
    z-index: 2;
}

.user-friendly-grad {
    position: absolute;
    top: 0;
    left: 0;
    width: 744px;
    height: 400px;
    background: linear-gradient(180deg,
            rgba(3, 1, 6, 0.6) 50%,
            rgba(54, 23, 100, 1) 100%);
    border-radius: 10px;
    z-index: 3;
}

.uf-text {
    position: absolute;
    top: 0;
    text-align: start;
    padding-left: 40px;
    margin-top: 278px;
    z-index: 4;
}

.uf-text h5 {
    color: white;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    cursor: default;
    z-index: 4;
    margin: 0;
}

.uf-text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    cursor: default;
    max-width: 259px;
    z-index: 4;
    margin-top: 8px;
    margin-bottom: 0;
}

.box2-text {
    text-align: start;
    padding-left: 40px;
    margin-top: 30px;
}

.box2-text h5 {
    color: white;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    cursor: default;
    margin: 0;
}

.box2-text p {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    cursor: default;
    max-width: 259px;
    margin-top: 8px;
    margin-bottom: 0;
}

.features {
    cursor: default;
}

.features h2 {
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    padding-top: 98px;
    text-align: center;
    color: #171717;
    transition: color 0.15s ease-in-out;
}

@media (min-width: 768px) {
    .features h2 {
        font-size: 3rem;
    }
}

@media (prefers-color-scheme: dark) {
    .features h2 {
        color: #ffffff;
    }
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 111px;
}

.pricing-card {
    background: #020103;
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 307px;
    height: 500px;
    border-radius: 20px;
}

.pricing-card-header {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 20px 0px 0px 20px;
}

.pricing-card-header h4 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.04%;
    text-align: left;
    color: white;
    cursor: default;
}

.pricing-card-p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01%;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    cursor: default;
}

.pricing-card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pricing-card-body-text {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0px 0px 0px 20px;
}

.pricing-card-body-text-p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.01%;
    text-align: left;
    color: white;
    cursor: default;
}

.pricing-line {
    margin-left: 20px;
}

.pricing-card-under-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pricing-card-button {
    color: white;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.01%;
    text-align: center;
    background: rgba(61, 61, 61, 0.4);
    padding: 0px 15px;
    min-width: 267px;
    min-height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.25);
    margin: 140px 0px 0px 20px;
    cursor: pointer;
}

.pricing-card-button2 {
    color: white;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.01%;
    text-align: center;
    background: rgba(61, 61, 61, 0.4);
    padding: 0px 15px;
    min-width: 267px;
    min-height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.25);
    margin: 48px 0px 0px 20px;
    cursor: pointer;
}

.pricing-card-button3 {
    color: white;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.01%;
    text-align: center;
    background: rgba(140, 69, 255, 0.4);
    padding: 0px 15px;
    min-width: 267px;
    min-height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.25);
    margin: 48px 0px 0px 20px;
    cursor: pointer;
}

.pricing-card2 {
    background: linear-gradient(to bottom, #010002 40%, #361764 100%);
    box-shadow: 0px 10px 74px 10px rgba(78, 0, 191, 0.41);
    width: 307px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.pricing-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pricing h2 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    color: white;
    cursor: default;
}

.pricing p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: white;
    cursor: default;
}

.pricing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 433px;
}

.CTA {
    background: linear-gradient(to bottom, #020103 0%, #020103 100%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    width: 1093px;
    height: 473px;
    overflow: hidden;
}

.CTA-circle {
    position: relative;
    top: -160%;
    margin: 0% auto 0% auto;
    background: rgba(140, 69, 255, 0.49);
    border: 1px solid rgb(255, 0, 0);
    filter: blur(134px);
    width: 686px;
    height: 622px;
    border-radius: 50%;
}


.CTA-under-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}

.CTA-h2 {
    position: relative;
    font-family: "Inter";
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    line-height: 65px;
    letter-spacing: -1.5%;
    color: white;
    max-width: 422px;
    margin: 0% auto 0% auto;
    z-index: 4;
    cursor: default;
}

.CTA-form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0px auto 0% auto;
    padding: 10px 8px;
    max-width: 401px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    z-index: 4;
}

.CTA-form input {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01%;
    text-align: left;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    outline: none;
    cursor: auto;
}

.CTA-button1 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 15px;
    line-height: 31px;
    letter-spacing: -1.01%;
    text-align: center;
    color: black;
    background: white;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
}
.CTA-button2 {
    display: none;
    font-family: "Inter";
    font-weight: 500;
    font-size: 15px;
    line-height: 31px;
    letter-spacing: -1.01%;
    text-align: center;
    color: black;
    background: white;
    padding: 5px 15px;
    border-radius: 8px;
    margin-top: 20px;
    min-width: 239.6px;
    cursor: pointer;
}
.CTA-p {
    position: relative;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    z-index: 4;
}

@media (max-width: 1200px) {
    .img-box {
        width: 100%;
        max-width: 900px;
    }
    .CTA {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .bento-grid-custom {
        grid-template-columns: repeat(2, 1fr);
    }
    .user-friendly {
        width: 100%;
        max-width: 744px;
    }
    .user-friendly-grad {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 48px;
        max-width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
        line-height: 52px;
        letter-spacing: -5.06%;
    }

    .hero-text p {
        font-weight: 400;
        font-size: 18px;
        max-width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .hero-text {
        top: 120px;
    }

    .img-box {
        width: 90%;
        max-width: 361px;
        height: auto;
        aspect-ratio: 361 / 219;
    }

    .blur, .blur2, .black-fade {
        display: none;
    }

    .page, .page2, .page3, .page4, .page5, .page6, .page7 {
        height: auto;
        min-height: 100vh;
        padding-bottom: 50px;
    }

    .p1 {
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.01%;
        text-align: center;
        max-width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .bento-grid-custom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 0px 15px;
        box-sizing: border-box;
    }

    .bento-header {
        font-weight: 500;
        font-size: 26px;
        margin-top: 90px;
        width: 100%;
        text-align: center;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .bento-box, .bento-box2 {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .seo, .user-friendly {
        width: 100%;
        max-width: 346px;
    }

    .user-friendly img {
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
    }

    .pricing {
        width: 100%;
        box-sizing: border-box;
    }

    .pricing h2 {
        font-size: 26px;
        padding: 0 15px;
    }

    .pricing p {
        font-size: 18px;
        line-height: 31px;
        letter-spacing: -0.01%;
        max-width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .pricing-card-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .pricing-card, .pricing-card2 {
        width: 90%;
        max-width: 307px;
    }

    .CTA {
        width: 95%;
        height: auto;
        padding-bottom: 40px;
        position: relative;
    }

    .CTA-under-container {
        position: relative;
        z-index: 2;
    }

    .CTA-circle {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 226px;
        height: 622px;
        z-index: 0;
    }

    .CTA-h2 {
        font-size: 36px;
        line-height: 43px;
        letter-spacing: -1.5%;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .CTA-form {
        flex-direction: column;
        width: 100%;
        max-width: none;
        backdrop-filter: blur(46px);
    }

    .CTA-button2 {
        display: block;
        width: 90%;
        margin: 20px auto 0 auto;
        
    }

    .CTA-button1 {
        display: none;
    }

    .features h2 {
        font-size: 32px;
    }
}

@media (max-width: 425px) {
    .bento-header {
        font-size: 25px;
    }
    .pricing-header h2 {
        font-size: 26px;
        font-weight: 600;
    }
    .hero-text h1 {
        font-size: 36px;
    }
    .img-box {
        width: 95%;
    }
    .CTA-h2 {
        font-size: 28px;
    }
}